<h4 class="header1">
  Dear CTO <br />
  Based on our conversation durnig the interview, This is a simple <br />
  demo of what you have in your mind for your application.
</h4>

<div class="card" style="width: 30rem">
  <img class="card-img-top" src="{{ imageSrc }}" />
  <div class="card-body">
    <h5 class="card-title">{{ messageTitle }}</h5>
    <p class="card-text">
      {{ messageText }}
    </p>

    <div class="wizard mt-4 ml-5">
      <!-- Step -->
      <div *ngFor="let s of steps" class="wizard__step">
        <div class="wizard__dot">
          <div (click)="onClick(s)" class="wizard__number">
            {{ s.title }}
          </div>
          <div class="wizard__connector"></div>
        </div>
        <div
          style="
            font-family: Arial, Helvetica, sans-serif;
            font-size: 13px;
            font-weight: bold;
            margin-top: 5px;
          "
        >
          {{ s.messageTop }}
        </div>
      </div>
    </div>
  </div>
</div>
